html {
  width: 100%;
  color: #8c0825;
  background-color: #fafae1;
}

h1 {
  font-size: 90px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

#start {
  display: grid;
  grid-template-columns: auto auto;
  align-self: start;
  justify-content: center;
  padding: 10px;
}

#start div {
}

#grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

#grid div {
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
h2 {
  font-size: 60px;
}

footer {
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.moments {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  font-size: 40px;
  background-color: #8c0825;
  color: #fafae1;
  text-align: center;
}
